%br
%br

%h3 
  Find Family
  
%p= link_to("New Family", new_family_path)
  
%br

%h5 Search By Parent Names, Student Names, Phone Number, Email, etc.

= text_field_tag("family_search", nil, class: 'family-search')

.family-listings
  = render @families


